head{background-color: bisque;}
body{background-color: antiquewhite;}


.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: bisque;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: slateblue;
  width: 0%;
}
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: auto;
    vertical-align: auto;
    width: 200%;
  }
  